@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400&display=swap');
html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
}
.content {
    margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
    width: 910px;
    height: 500px;
    display: flex;
}
.sedan, .suv, .luxury {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 45px;
}
img {
    padding: 0px;
    height: 40px;
    width: 65px;
}
p {
    transform: translateY(-20px);
    font-family: "Lexend Deca";
    font-size: 13px;
   color: hsla(0, 0%, 100%, 0.75);
   width: 80%;
}
h2 {
    font-family: "Big Shoulders Display";
    margin-right: 100%;
    padding: 0px;
    height: 40px;
    text-transform: uppercase;
    font-size: 35px;
    color: hsl(0, 0%, 95%);
}
input {
    margin-top: 115px;
    border: none;
    border-radius: 25px;
    width: 140px;
    height: 50px;
    background-color: hsl(0, 0%, 95%);
}
input:hover {
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}
.sedan input {
    color: hsl(31, 77%, 52%);
}.sedan input:hover { color: hsl(0, 0%, 95%); }
.suv input {
    color: hsl(184, 100%, 22%);
}.suv input:hover { color: hsl(0, 0%, 95%); }
.luxury input {
    color: hsl(179, 100%, 13%);
}.luxury input:hover { color: hsl(0, 0%, 95%); }
.sedan {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.suv {
    background-color: hsl(184, 100%, 22%);
}
.luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
@media screen and (max-width: 375px) {
    .content {
        margin-top: 90px;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .sedan, .suv, .luxury {
        flex-direction: column;
        padding: 45px;
        height: 443px;
    }
    p {
        height: 113px;
    }
    .sedan {
        background-color: hsl(31, 77%, 52%);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 15px;
    }
    .luxury {
        background-color: hsl(179, 100%, 13%);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}
@media screen and (max-width: 414px) {
    .content {
        margin-top: 90px;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .sedan, .suv, .luxury {
        flex-direction: column;
        padding: 45px;
        height: 443px;
    }
    p {
        height: 113px;
    }
    .sedan {
        background-color: hsl(31, 77%, 52%);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 15px;
    }
    .luxury {
        background-color: hsl(179, 100%, 13%);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}
@media screen and (max-width: 768px) {
    .content {
        margin-top: 90px;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    img {
        padding: 0px;
        height: 60px;
        width: 95px;
    }
    .sedan, .suv, .luxury {
        flex-direction: column;
        padding: 45px;
        height: 800px;
    }
    h2{
        font-size: 4rem;
    }
    p {
        height: 113px;
        width: 80%;
        font-size: 2rem;
    }
    input{
        height: 80px;
        width:250px;
        font-size: 1.2rem;
    }
    .sedan {
        background-color: hsl(31, 77%, 52%);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 15px;
    }
    .luxury {
        background-color: hsl(179, 100%, 13%);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}